* {
  box-sizing: border-box;
  margin: 0;
}

section {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-container {
  height: 100vh;
  width: 100%;
  margin: 25px auto;
  position: relative;
  overflow: hidden;
}

.active {
  display: inline-block;
}

.inactive {
  display: none;
}

.slides {
  height: 100%;
  width: 100%;
  margin: 0 auto !important;
  position: relative;
  transition: transform 0.5s ease;
}

.slide-image {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.slide-title,
.slide-text {
  width: 100%;
  height: 100%;
  color: white;
  font-size: 50px;
  position: absolute;
  text-align: center;
  top: 40%;
  z-index: 10;
  transition: opacity 0.3s ease;
  opacity: 0.8;
}
.slide-title {
  font-size: 3rem;
  top: 20%;
}

.slide-text {
  top: 35%;
  font-size: 1.5rem;
}

.prev,
.next {
  cursor: pointer;
  z-index: 100;
  position: absolute;
  top: 50%;
  width: auto;
  margin: -3rem 10rem 0;
  font-weight: bold;
  border-radius: 5px;
  color: #fff;
  font-size: 48px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
  border-radius: 50%;
}

.slider-container:hover .prev,
.slider-container:hover .next {
  color: black;
}

.slider-container:hover .prev:hover,
.slider-container:hover .next:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.5s ease-in;
}

.next {
  right: 0;
}

.all-dots {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  top: 85%;
  justify-content: center;
  z-index: 200;
}

.dot {
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  margin: 0px 3px;
  background-color: transparent;
  border-radius: 50%;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.6);
}

.slider-container:hover .dot:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.slider-container:hover .dot {
  background-color: rgba(0, 0, 0, 0.3);
}

.slider-container:hover .active-dot {
  background-color: rgba(255, 255, 255, 0.5);
}

.play-pause {
  color: black;
}
